body html{
    margin: 0;
    padding: 0;
}

.backgroundimg{
    background-image: url("./../pictures/bg-1.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.SIGNIBANK {
    padding-right: 300px !important;

    height: 29px;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;

}
.Products-Pricing-Acc {
    /*width: 465px;*/
    height: 24px;
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;

}

.Get-started-Copy {
    width: 147px;
    height: 41px;
}
input[type=button] {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.button-wrapper {
    display: table-cell;
    vertical-align: middle;
}